<div id="contain-navbar">
  <div class="white-area">

  </div>
  <nav id="navbar">
    <ul class="navbar-group">
      <li class="nav-item">
        <a routerLink="/home"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door"
            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z" />
            <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
          </svg>
          <h1 class="navbar-routes">Home</h1>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/explore"><svg width="1em" height="1.0625em" viewBox="0 0 16 17" class="bi bi-compass"
            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            <path d="M6.94 7.44l4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z" />
          </svg>
          <h1 class="navbar-routes">Explore</h1>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/{{username}}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person"
            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
          </svg>
          <h1 class="navbar-routes">Profile</h1>
        </a>
      </li>

      <li class="nav-item">
        <button type="button" class="btn btn-info" id="submit-post" (click)="onClick()">Logout</button>

      </li>

    </ul>
  </nav>
</div>